@model List<Service>

<h1> Servicios</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var service in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => service.Name)</td>
                <td>@Html.DisplayFor(m => service.Description)</td>
            </tr>
        }
    </tbody>
</table>